.displayWeather{
font-size: 25px;
}

#light .displayWeather{
color: #0C6EFD;
transition: 0.5s;
}

#dark .displayWeather{
color: white;
transition: 0.5s;
}

#light .cityname{
color: #0C6EFD;
transition: 0.5s;
}

#dark .cityname{
color: white;
transition: 0.5s;
}
