.iconDisplay{
font-size: 100px;
}
.wrapper{
display: flex;
flex-direction: column;
}
.circlebutt{
border: none;
height: 5px;
width: 5px;
border-radius: 100px;
}
.buttonwrap{
display: flex;
gap: 5px;
cursor: pointer;
}
